*{
    margin: 0;
    padding: 0;
    background-color: #c3c494;
}
html{height: 100%}
body{
    width: 100%;
    height: 100%;
    color: #333;
}
header, footer{
    width:100%;
    background-color: #ffc96f;
    min-height: 50px;
}
header{
    border-bottom: 5px solid silver;
}
footer{
    border-bottom: 10px solid yellowgreen;
}
#page-wrap:after{
    content:"";
    display: block;
}
footer, #page-wrap:after{height: 10px}
#page-wrap{
    min-height: 90%;
    margin-bottom: -10px;
}